.locationCard {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 20px;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;      
  box-sizing: border-box;
}

.locationCardHeader {
  display: flex;
  width: 100%;
}

.locationImage {
  width: 100%;
  height: 150px;       
  object-fit: cover;
  border-radius: 8px;
}

.locationInfo {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  flex: 1;
  justify-content: space-between;
}

.weatherRow, .riskRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weatherRow p, .riskRow p {
  margin-right: 10px; 
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  width: 100%;
}

.locationCardFooter {
  margin-top: 10px;
  font-size: 12px;
}